In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
os.chdir("C:/Users/utilisateur/Desktop/Statapp/")

In [5]:
short = pd.read_csv("Benjamin/Short.csv", sep = ";")

In [6]:
short[['ProductReference', .head(2)

,ClientCode,BoutiqueCode,BoutiqueName,ProductReference,TransactionType,NetAmount,Quantity,annee_transaction,date_transaction,Quantity_reelle,...,Nationality,Country,Class,FirstPurchaseDateRange,date_naissance,date_creation,Gender2,Resident,NonResident,ProductDescription
0,NA15000285,3020,CAR Miami BTQ,CRT1220407,SALE,120,1,2011,13519872000,1,...,American,USA,Boutique Retail clie,15.09.2006,12658982400,13376793600,F,1,0,MONEY CLIP LINES AND LOGO CAR DEC PAF ...
1,NA15000285,3020,CAR Miami BTQ,CRT1220540,SALE,280,1,2011,13519872000,1,...,American,USA,Boutique Retail clie,15.09.2006,12658982400,13376793600,F,1,0,MONEY CLIP FOLDING BUCKLE DEC PAF ...

In [8]:
short.columns

Index(['ClientCode', 'BoutiqueCode', 'BoutiqueName', 'ProductReference',
       'TransactionType', 'NetAmount', 'Quantity', 'annee_transaction',
       'date_transaction', 'Quantity_reelle', 'NetAmount_euros',
       'date_first_transaction', 'first_transaction', 'code_transaction',
       'Nationality', 'Country', 'Class', 'FirstPurchaseDateRange',
       'date_naissance', 'date_creation', 'Gender2', 'Resident', 'NonResident',
       'ProductDescription'],
      dtype='object')

In [52]:
jewelry = pd.read_excel("Peter/Jewelry.xlsx")
Watches = pd.read_excel("Peter/Watches.xlsx")
Accessories = pd.read_excel("Peter/Accessories & Other.xlsx")

In [49]:
jewelry.columns

Index(['hier 2', 'hier 3', 'hier 4', 'hier 5', 'hier 6', 'hier 7',
       'article ID', 'article label', 'collection ID', 'collection label',
       'alloy type', 'launch date', 'NB of stones', 'center stone',
       'carats stone', 'material group', 'life cycle label', 'amount',
       'quantity', 'number of clients', 'Type', 'Subtype', 'Offer'],
      dtype='object')

In [12]:
Watches.columns

Index(['hier 2', 'hier 3', 'hier 4', 'hier 5', 'hier 6', 'hier 7',
       'article ID', 'article label', 'line', 'strap material',
       'main material', 'energy movement', 'stone', 'size_dimension',
       'size_of_watch', 'life cycle ID', 'life cycle label', 'launch date',
       'amount', 'quantity', 'number of clients'],
      dtype='object')

In [13]:
Accessories.columns

Index(['hier 2', 'hier 3', 'hier 4', 'hier 5', 'hier 6', 'hier 7',
       'article ID', 'article label', 'launch date', 'main material',
       'product segment', 'product group ID', 'product group label',
       'life cycle ID', 'life cycle label', 'amount', 'quantity',
       'number of clients'],
      dtype='object')

In [57]:
short.columns = ['ClientCode', 'BoutiqueCode', 'BoutiqueName', 'article ID',
       'TransactionType', 'NetAmount', 'Quantity', 'annee_transaction',
       'date_transaction', 'Quantity_reelle', 'NetAmount_euros',
       'date_first_transaction', 'first_transaction', 'code_transaction',
       'Nationality', 'Country', 'Class', 'FirstPurchaseDateRange',
       'date_naissance', 'date_creation', 'Gender2', 'Resident', 'NonResident',
       'ProductDescription']

In [48]:
jewelry1 = jewelry[['Type', 'Subtype', 'Offer', 'alloy type', 'material group']]

Maturity              3233
Decline               1809
Destruction           1269
Historic              1089
Discontinued           865
Decline to animate     748
Launch                 626
Growth                 469
Not assigned           179
Concept                168
Novelty                 24
Deleted                  5
One shot                 4
Name: life cycle label, dtype: int64

In [24]:
jewelry['Type'] = jewelry['hier 2']

In [27]:
jewelry['Subtype'] = jewelry['hier 3']

In [36]:
jewelry['Offer'] = jewelry['hier 4']

In [126]:
data = pd.merge(short, jewelry, on = 'article ID')

In [124]:
data = pd.merge(data, Watches, on = 'article ID')

In [72]:
data = pd.merge(data, Accessories, on = 'article ID')

In [108]:
short['article ID'] = short['article ID'].map(str.strip)

In [114]:
a = list(short['article ID'].unique())
b = list(jewelry['article ID'].unique())
c = list(Watches['article ID'].unique())
d = list(Accessories['article ID'].unique())

In [118]:
j = list(set(a).intersection(b))
w = list(set(a).intersection(c))
ac = list(set(a).intersection(d))

In [119]:
len(j) + len(w) + len(ac)

5842

In [127]:
data.shape

(49699, 43)

In [128]:
list(data.columns)

['ClientCode',
 'BoutiqueCode',
 'BoutiqueName',
 'article ID',
 'TransactionType',
 'NetAmount',
 'Quantity',
 'annee_transaction',
 'date_transaction',
 'Quantity_reelle',
 'NetAmount_euros',
 'date_first_transaction',
 'first_transaction',
 'code_transaction',
 'Nationality',
 'Country',
 'Class',
 'FirstPurchaseDateRange',
 'date_naissance',
 'date_creation',
 'Gender2',
 'Resident',
 'NonResident',
 'ProductDescription',
 'hier 2',
 'hier 3',
 'hier 4',
 'hier 5',
 'hier 6',
 'hier 7',
 'article label',
 'collection ID',
 'collection label',
 'alloy type',
 'launch date',
 'NB of stones',
 'center stone',
 'carats stone',
 'material group',
 'life cycle label',
 'amount',
 'quantity',
 'number of clients']

In [138]:
product = pd.concat([jewelry, Watches, Accessories])

In [139]:
product.shape

(19101, 31)

In [140]:
Accessories.shape

(5460, 18)

In [142]:
product.columns

Index(['NB of stones', 'alloy type', 'amount', 'article ID', 'article label',
       'carats stone', 'center stone', 'collection ID', 'collection label',
       'energy movement', 'hier 2', 'hier 3', 'hier 4', 'hier 5', 'hier 6',
       'hier 7', 'launch date', 'life cycle ID', 'life cycle label', 'line',
       'main material', 'material group', 'number of clients',
       'product group ID', 'product group label', 'product segment',
       'quantity', 'size_dimension', 'size_of_watch', 'stone',
       'strap material'],
      dtype='object')

In [143]:
short.shape

(96230, 24)

In [144]:
data = pd.merge(short, product, on = 'article ID')

In [145]:
data.shape

(87518, 54)

In [149]:
data['material group'].value_counts()

Jewelry Ring            28641
Jewelry Bracelet        12197
Jewelry Necklace         5069
Jewelry Earring          2042
Jewelry Charms            631
US Jewelry Ring           592
Jewelry Pendant           311
US Jewelry Earring         76
Jewelry Men's Jewelr       69
US Jewelry Necklace        44
US Jewelry Pendant         13
Jewelry Brooch             10
US Jewelry Bracelet         4
Name: material group, dtype: int64

In [151]:
short = pd.read_csv("Benjamin/Short.csv", sep = ";")
Jewelry = pd.read_excel("Peter/Jewelry.xlsx")
Watches = pd.read_excel("Peter/Watches.xlsx")
Accessories = pd.read_excel("Peter/Accessories & Other.xlsx")
short.columns = ['ClientCode', 'BoutiqueCode', 'BoutiqueName', 'article ID',
       'TransactionType', 'NetAmount', 'Quantity', 'annee_transaction',
       'date_transaction', 'Quantity_reelle', 'NetAmount_euros',
       'date_first_transaction', 'first_transaction', 'code_transaction',
       'Nationality', 'Country', 'Class', 'FirstPurchaseDateRange',
       'date_naissance', 'date_creation', 'Gender2', 'Resident', 'NonResident',
       'ProductDescription']
short['article ID'] = short['article ID'].map(str.strip)
product = pd.concat([Jewelry, Watches, Accessories])
base = pd.merge(short, product, on = 'article ID')

In [159]:
data.to_csv('Base transaction produit.csv')

In [157]:
(data.columns) = ['ClientCode',
 'BoutiqueCode',
 'BoutiqueName',
 'ProductReference',
 'TransactionType',
 'NetAmount',
 'Quantity',
 'annee_transaction',
 'date_transaction',
 'Quantity_reelle',
 'NetAmount_euros',
 'date_first_transaction',
 'first_transaction',
 'code_transaction',
 'Nationality',
 'Country',
 'Class',
 'FirstPurchaseDateRange',
 'date_naissance',
 'date_creation',
 'Gender2',
 'Resident',
 'NonResident',
 'ProductDescription',
 'NB of stones',
 'alloy type',
 'amount',
 'article label',
 'carats stone',
 'center stone',
 'collection ID',
 'collection label',
 'energy movement',
 'hier 2',
 'hier 3',
 'hier 4',
 'hier 5',
 'hier 6',
 'hier 7',
 'launch date',
 'life cycle ID',
 'life cycle label',
 'line',
 'main material',
 'material group',
 'number of clients',
 'product group ID',
 'product group label',
 'product segment',
 'quantity',
 'size_dimension',
 'size_of_watch',
 'stone',
 'strap material']

In [158]:
data.columns

Index(['ClientCode', 'BoutiqueCode', 'BoutiqueName', 'ProductReference',
       'TransactionType', 'NetAmount', 'Quantity', 'annee_transaction',
       'date_transaction', 'Quantity_reelle', 'NetAmount_euros',
       'date_first_transaction', 'first_transaction', 'code_transaction',
       'Nationality', 'Country', 'Class', 'FirstPurchaseDateRange',
       'date_naissance', 'date_creation', 'Gender2', 'Resident', 'NonResident',
       'ProductDescription', 'NB of stones', 'alloy type', 'amount',
       'article label', 'carats stone', 'center stone', 'collection ID',
       'collection label', 'energy movement', 'hier 2', 'hier 3', 'hier 4',
       'hier 5', 'hier 6', 'hier 7', 'launch date', 'life cycle ID',
       'life cycle label', 'line', 'main material', 'material group',
       'number of clients', 'product group ID', 'product group label',
       'product segment', 'quantity', 'size_dimension', 'size_of_watch',
       'stone', 'strap material'],
      dtype='object')

In [160]:
data.head()

,ClientCode,BoutiqueCode,BoutiqueName,ProductReference,TransactionType,NetAmount,Quantity,annee_transaction,date_transaction,Quantity_reelle,...,material group,number of clients,product group ID,product group label,product segment,quantity,size_dimension,size_of_watch,stone,strap material
0,NA15000285,3020,CAR Miami BTQ,CRT1220407,SALE,120,1,2011,13519872000,1,...,NaN,142,-,1/-,Other segments,139,NaN,NaN,NaN,NaN
1,NA15139160,3037,CAR NY Fifth Ave BTQ,CRT1220407,SALE,130,1,2012,13546828800,1,...,NaN,142,-,1/-,Other segments,139,NaN,NaN,NaN,NaN
2,NA15150867,3047,CAR Short Hills BTQ,CRT1220407,SALE,120,1,2010,13502246400,1,...,NaN,142,-,1/-,Other segments,139,NaN,NaN,NaN,NaN
3,NA15220701,3042,CAR Santa Clara BTQ,CRT1220407,SALE,120,1,2009,13453430400,1,...,NaN,142,-,1/-,Other segments,139,NaN,NaN,NaN,NaN
4,NA15286622,3030,CAR Ala Moana BTQ,CRT1220407,SALE,120,1,2009,13453689600,1,...,NaN,142,-,1/-,Other segments,139,NaN,NaN,NaN,NaN

In [161]:
data['ClientCode'] = data['ClientCode'].map(str.strip)

In [162]:
data.ClientCode

0        NA15000285
1        NA15139160
2        NA15150867
3        NA15220701
4        NA15286622
5        NA15462129
6        NA15488275
7        NA15490482
8        NA15505496
9        NA15517823
10       NA15525768
11       NA15528028
12       NA15540915
13       NA15576473
14       NA15588242
15       NA15657027
16       NA15659116
17       NA15738446
18       NA15755950
19       NA15782681
20       NA15782829
21       NA15785103
22       NA15785103
23       NA15792799
24       NA15793962
25       NA15797282
26       NA15797976
27       NA15811947
28       NA15812093
29       NA15814463
            ...
87488    NA18207508
87489    NA18208027
87490    NA18211563
87491    NA18212180
87492    NA18213335
87493    NA18213734
87494    NA18214916
87495    NA18215267
87496    NA18215698
87497     NA5019684
87498     NA5116009
87499     NA5132488
87500     NA5146108
87501     NA5147341
87502     NA5163752
87503     NA5173749
87504     NA5194491
87505     NA5235494
87506     NA5377221
87507     NA5403422
87508     NA5451244
87509     NA5452914
87510     NA5459559
87511     NA5465670
87512     NA5477524
87513     NA5494602
87514     NA5496984
87515     NA5507959
87516     NA5553101
87517     NA5557554
Name: ClientCode, dtype: object

In [186]:
client_watch = (list((data['ClientCode'][data['ProductReference'].isin(w)]).unique()))

In [187]:
client_jewelry = (list((data['ClientCode'][data['ProductReference'].isin(j)]).unique()))

In [188]:
client_accessories = (list((data['ClientCode'][data['ProductReference'].isin(ac)]).unique()))

In [207]:
purchase = {}
for i in list(data['ClientCode'].unique()):
    purchase[i] = (data[data['ClientCode'] == i].shape[0])

In [194]:
data[data['ClientCode'] == 'NA15002408'].shape[0]

2

In [203]:
len(list(set(client_watch).intersection(client_accessories)))

950

In [204]:
len(list(set(client_watch).intersection(client_jewelry)))

1686

In [205]:
len(list(set(client_jewelry).intersection(client_accessories)))

1987

In [208]:
purchase

{'NA17454294': 1,
 'NA18113546': 1,
 'NA5242236': 2,
 'NA18125217': 1,
 'NA16827686': 1,
 'NA17606408': 1,
 'NA16865394': 1,
 'NA16821873': 3,
 'NA17369054': 1,
 'NA17525076': 1,
 'NA18141796': 2,
 'NA16761360': 1,
 'NA15792981': 2,
 'NA17413403': 1,
 'NA17602827': 1,
 'NA17569866': 1,
 'NA17568619': 1,
 'NA16916719': 1,
 'NA18159312': 1,
 'NA15204163': 2,
 'NA18205689': 1,
 'NA15304627': 3,
 'NA15482770': 2,
 'NA15464063': 1,
 'NA15289842': 1,
 'NA18185545': 1,
 'NA17373091': 1,
 'NA17513458': 1,
 'NA18124247': 1,
 'NA17614731': 2,
 'NA18142811': 2,
 'NA5044665': 3,
 'NA17606206': 1,
 'NA16769425': 1,
 'NA17606635': 1,
 'NA15514428': 1,
 'NA15210264': 1,
 'NA17652271': 2,
 'NA15769210': 4,
 'NA17689527': 2,
 'NA15189644': 1,
 'NA17597373': 1,
 'NA16835943': 2,
 'NA16854032': 1,
 'NA17082786': 1,
 'NA17609105': 1,
 'NA15526660': 1,
 'NA16797536': 2,
 'NA15672731': 1,
 'NA17681786': 1,
 'NA15526517': 3,
 'NA17485532': 1,
 'NA17352772': 2,
 'NA18053960': 1,
 'NA17345165': 1,
 'NA18051889': 1,
 'NA5395894': 1,
 'NA17660280': 1,
 'NA17374444': 1,
 'NA17362613': 2,
 'NA16809223': 1,
 'NA17617188': 1,
 'NA16834423': 2,
 'NA17429879': 1,
 'NA17648607': 1,
 'NA17684619': 1,
 'NA17587646': 2,
 'NA17561726': 1,
 'NA17504443': 1,
 'NA16902225': 1,
 'NA17584616': 1,
 'NA15441033': 1,
 'NA17064307': 1,
 'NA18190416': 1,
 'NA18207420': 1,
 'NA16846367': 1,
 'NA17015827': 2,
 'NA15814093': 1,
 'NA15149400': 1,
 'NA17152328': 1,
 'NA17550288': 1,
 'NA16768921': 1,
 'NA16802784': 1,
 'NA18183575': 1,
 'NA15787535': 1,
 'NA16781960': 1,
 'NA5212924': 3,
 'NA17494031': 1,
 'NA17683854': 1,
 'NA15090371': 6,
 'NA17510074': 1,
 'NA18209329': 1,
 'NA17434767': 1,
 'NA16929337': 3,
 'NA18185879': 3,
 'NA16790686': 1,
 'NA17509967': 1,
 'NA15738530': 2,
 'NA17061029': 2,
 'NA16888812': 1,
 'NA15463101': 1,
 'NA18211840': 1,
 'NA17475911': 1,
 'NA17429933': 1,
 'NA15804553': 4,
 'NA17557310': 1,
 'NA16777511': 2,
 'NA17366918': 2,
 'NA17693886': 1,
 'NA18141022': 1,
 'NA15254138': 3,
 'NA15762375': 1,
 'NA16917940': 1,
 'NA17046533': 1,
 'NA17578315': 1,
 'NA17648436': 1,
 'NA17103786': 1,
 'NA5237107': 1,
 'NA16792517': 3,
 'NA17593493': 1,
 'NA17656795': 1,
 'NA18193144': 1,
 'NA16789867': 1,
 'NA17422873': 1,
 'NA5082608': 1,
 'NA15297653': 1,
 'NA17573761': 1,
 'NA18154640': 1,
 'NA16954363': 1,
 'NA16671738': 1,
 'NA17587626': 1,
 'NA15495731': 1,
 'NA16777483': 1,
 'NA15294454': 2,
 'NA15498218': 1,
 'NA16813753': 1,
 'NA15808664': 2,
 'NA17468974': 1,
 'NA17150703': 1,
 'NA16916350': 1,
 'NA18107923': 3,
 'NA16871501': 2,
 'NA15806778': 2,
 'NA16747817': 1,
 'NA17134056': 2,
 'NA17123917': 2,
 'NA17494192': 1,
 'NA5276485': 1,
 'NA16909015': 1,
 'NA17104297': 1,
 'NA17608223': 1,
 'NA17042741': 1,
 'NA18192060': 1,
 'NA16928820': 4,
 'NA16767939': 1,
 'NA17464709': 1,
 'NA17373613': 1,
 'NA17134570': 2,
 'NA18171220': 1,
 'NA17072558': 2,
 'NA5069637': 2,
 'NA15532375': 1,
 'NA15567257': 1,
 'NA17488740': 2,
 'NA18206091': 2,
 'NA17087859': 1,
 'NA17423013': 2,
 'NA17665705': 1,
 'NA18151405': 2,
 'NA16813630': 2,
 'NA15039559': 1,
 'NA16832307': 1,
 'NA15760159': 2,
 'NA17142040': 2,
 'NA17541641': 1,
 'NA17679624': 2,
 'NA18065720': 1,
 'NA15172472': 1,
 'NA17694046': 1,
 'NA15263586': 3,
 'NA16887010': 1,
 'NA17102889': 2,
 'NA17442077': 1,
 'NA18073065': 1,
 'NA15582990': 1,
 'NA18047775': 1,
 'NA18041978': 1,
 'NA16924454': 1,
 'NA16882044': 2,
 'NA17657852': 2,
 'NA16772669': 1,
 'NA18149200': 1,
 'NA15789705': 1,
 'NA15002867': 3,
 'NA16873950': 1,
 'NA16928014': 1,
 'NA15811429': 1,
 'NA15813109': 1,
 'NA15757545': 1,
 'NA18127749': 1,
 'NA18203160': 1,
 'NA17492375': 1,
 'NA17591268': 3,
 'NA18184455': 1,
 'NA16511015': 2,
 'NA15602326': 3,
 'NA16861688': 1,
 'NA18213959': 1,
 'NA17208123': 4,
 'NA16777564': 1,
 'NA18181745': 1,
 'NA16753469': 2,
 'NA17455583': 1,
 'NA17045711': 1,
 'NA17449751': 4,
 'NA17396947': 1,
 'NA17686314': 1,
 'NA17551631': 1,
 'NA15291521': 1,
 'NA18141229': 1,
 'NA16760364': 1,
 'NA5098629': 1,
 'NA17382175': 1,
 'NA18096280': 1,
 'NA15520337': 2,
 'NA18182077': 1,
 'NA17589015': 1,
 'NA17616013': 1,
 'NA17119582': 1,
 'NA16924750': 2,
 'NA16871439': 1,
 'NA15190046': 2,
 'NA15526201': 1,
 'NA5189032': 1,
 'NA16865617': 1,
 'NA18183852': 3,
 'NA5302895': 1,
 'NA16910161': 1,
 'NA15816704': 1,
 'NA16875185': 1,
 'NA17061366': 2,
 'NA18102390': 1,
 'NA17650952': 1,
 'NA16788581': 1,
 'NA17445417': 1,
 'NA17444041': 1,
 'NA15804101': 2,
 'NA17682832': 1,
 'NA17156526': 1,
 'NA16802050': 1,
 'NA17443937': 1,
 'NA17571360': 1,
 'NA5343442': 1,
 'NA17079521': 1,
 'NA15310086': 1,
 'NA17648311': 1,
 'NA18126652': 2,
 'NA18126631': 1,
 'NA17353615': 1,
 'NA18157875': 1,
 'NA17085112': 1,
 'NA16812639': 1,
 'NA17430163': 1,
 'NA16821205': 1,
 'NA17640052': 1,
 'NA17376805': 3,
 'NA15071278': 2,
 'NA18182012': 1,
 'NA17047861': 2,
 'NA18215420': 1,
 'NA16816150': 1,
 'NA17605825': 2,
 'NA17361763': 1,
 'NA17054908': 2,
 'NA18181891': 1,
 'NA5266755': 2,
 'NA15816871': 2,
 'NA15241882': 1,
 'NA17532606': 1,
 'NA17481349': 1,
 'NA18128957': 2,
 'NA15482289': 1,
 'NA17666393': 1,
 'NA17584857': 1,
 'NA17464853': 2,
 'NA17402404': 1,
 'NA17510664': 1,
 'NA16846004': 1,
 'NA17411899': 2,
 'NA17504352': 1,
 'NA5139171': 3,
 'NA18205892': 1,
 'NA18144203': 1,
 'NA17501314': 1,
 'NA17649598': 1,
 'NA17430074': 1,
 'NA15789287': 2,
 'NA17053074': 1,
 'NA17448221': 1,
 'NA15805286': 1,
 'NA5327569': 1,
 'NA17599443': 1,
 'NA18149260': 1,
 'NA18200880': 2,
 'NA17465438': 1,
 'NA18109867': 1,
 'NA17476737': 1,
 'NA15509991': 1,
 'NA17144241': 2,
 'NA17508371': 2,
 'NA16852976': 2,
 'NA15803768': 2,
 'NA16798018': 1,
 'NA17137264': 3,
 'NA17687540': 1,
 'NA17687624': 2,
 'NA17599401': 1,
 'NA17615842': 1,
 'NA17459486': 1,
 'NA5500515': 1,
 'NA17681735': 1,
 'NA15514142': 1,
 'NA16852007': 1,
 'NA17464898': 1,
 'NA17576110': 1,
 'NA15800759': 3,
 'NA17490329': 1,
 'NA17609183': 2,
 'NA18172542': 2,
 'NA17404930': 2,
 'NA15178181': 1,
 'NA18163100': 2,
 'NA15065845': 1,
 'NA17475310': 1,
 'NA16854257': 1,
 'NA17567945': 1,
 'NA17112767': 1,
 'NA17344972': 1,
 'NA16863292': 1,
 'NA16812892': 1,
 'NA16884335': 1,
 'NA5166864': 1,
 'NA17100208': 1,
 'NA16788644': 1,
 'NA18124456': 4,
 'NA15758247': 2,
 'NA17474758': 1,
 'NA18048233': 1,
 'NA16940401': 3,
 'NA15487539': 1,
 'NA17377063': 2,
 'NA16752376': 1,
 'NA17524032': 3,
 'NA18198209': 1,
 'NA17510500': 3,
 'NA18202017': 1,
 'NA17459389': 1,
 'NA16827521': 1,
 'NA17571063': 1,
 'NA17516845': 2,
 'NA17141824': 2,
 'NA16921958': 1,
 'NA17569932': 1,
 'NA15641077': 1,
 'NA17693418': 1,
 'NA17644815': 1,
 'NA17534605': 1,
 'NA17800847': 1,
 'NA15233651': 1,
 'NA17076832': 1,
 'NA18053341': 1,
 'NA15093702': 2,
 'NA15498989': 1,
 'NA15519339': 2,
 'NA17060063': 1,
 'NA18154749': 1,
 'NA15538661': 2,
 'NA15791090': 1,
 'NA16511624': 1,
 'NA17458060': 1,
 'NA17529920': 1,
 'NA16888730': 1,
 'NA15118511': 2,
 'NA17496123': 2,
 'NA18205984': 1,
 'NA17597076': 3,
 'NA17605171': 2,
 'NA18128658': 1,
 'NA15110127': 3,
 'NA18158100': 1,
 'NA16928838': 1,
 'NA18170149': 1,
 'NA17541765': 1,
 'NA17038698': 1,
 'NA17065095': 1,
 'NA16862469': 2,
 'NA18038632': 1,
 'NA17435282': 1,
 'NA16830384': 3,
 'NA18116626': 1,
 'NA17053616': 1,
 'NA16940487': 1,
 'NA17434189': 1,
 'NA17603497': 1,
 'NA15488890': 1,
 'NA18103737': 2,
 'NA18159786': 2,
 'NA17580478': 2,
 'NA18096206': 3,
 'NA15550439': 1,
 'NA16787124': 7,
 'NA18138925': 1,
 'NA15769242': 7,
 'NA15273794': 1,
 'NA17568165': 1,
 'NA18186735': 3,
 'NA17416952': 1,
 'NA15504163': 1,
 'NA5393825': 2,
 'NA17112761': 1,
 'NA17124628': 1,
 'NA18168548': 1,
 'NA17666421': 2,
 'NA17495632': 1,
 'NA15036491': 1,
 'NA16694251': 1,
 'NA18181989': 2,
 'NA18171193': 1,
 'NA17450968': 1,
 'NA17384267': 1,
 'NA16674514': 1,
 'NA17101740': 1,
 'NA17519389': 1,
 'NA17592924': 1,
 'NA17093539': 1,
 'NA18204403': 1,
 'NA17068902': 1,
 'NA17598799': 1,
 'NA17565396': 1,
 'NA17401180': 3,
 'NA16857442': 2,
 'NA16835097': 1,
 'NA17118963': 1,
 'NA17666427': 1,
 'NA17077260': 1,
 'NA17422577': 1,
 'NA17397020': 1,
 'NA15751544': 1,
 'NA17137367': 1,
 'NA15063164': 1,
 'NA15296137': 1,
 'NA16915880': 1,
 'NA17490890': 1,
 'NA15781301': 3,
 'NA16699339': 1,
 'NA17444292': 1,
 'NA17649657': 3,
 'NA17561195': 1,
 'NA17384810': 3,
 'NA15817566': 1,
 'NA16829069': 1,
 'NA15288311': 2,
 'NA17454833': 2,
 'NA15756072': 2,
 'NA16940418': 1,
 'NA17592473': 1,
 'NA16913143': 4,
 'NA17479365': 1,
 'NA17555390': 1,
 'NA17403166': 4,
 'NA17366772': 1,
 'NA16316595': 1,
 'NA17135082': 1,
 'NA15802812': 1,
 'NA15516467': 2,
 'NA17675931': 1,
 'NA16804734': 1,
 'NA18206350': 1,
 'NA17682630': 1,
 'NA16933430': 2,
 'NA17437096': 1,
 'NA17581622': 1,
 'NA17112627': 2,
 'NA18122661': 2,
 'NA15256431': 4,
 'NA17666426': 1,
 'NA16748789': 1,
 'NA17445552': 1,
 'NA15808497': 1,
 'NA18194536': 1,
 'NA17382452': 1,
 'NA16875222': 1,
 'NA17450743': 1,
 'NA16767814': 1,
 'NA16789776': 6,
 'NA17357188': 2,
 'NA17492070': 1,
 'NA17581957': 1,
 'NA17455617': 1,
 'NA17370653': 1,
 'NA15126649': 3,
 'NA17541043': 1,
 'NA17553686': 1,
 'NA16867246': 1,
 'NA17135196': 1,
 'NA17151126': 4,
 'NA17524606': 3,
 'NA18116997': 2,
 'NA16686545': 2,
 'NA15483689': 1,
 'NA17578520': 1,
 'NA17600598': 1,
 'NA16859601': 1,
 'NA17676196': 1,
 'NA15031837': 3,
 'NA17557963': 2,
 'NA18150486': 1,
 'NA16835067': 1,
 'NA18188488': 1,
 'NA16766412': 1,
 'NA16856495': 1,
 'NA16916411': 1,
 'NA17403479': 1,
 'NA16882638': 1,
 'NA17498980': 1,
 'NA18145298': 1,
 'NA16874998': 2,
 'NA17048080': 1,
 'NA5494602': 1,
 'NA18193453': 3,
 'NA18049419': 2,
 'NA17042940': 3,
 'NA15550793': 1,
 'NA16820307': 1,
 'NA16886759': 2,
 'NA18096145': 1,
 'NA17112726': 1,
 'NA16843899': 1,
 'NA5018179': 1,
 'NA17061397': 1,
 'NA15319576': 1,
 'NA17506743': 1,
 'NA16952454': 1,
 'NA16846692': 1,
 'NA18107782': 1,
 'NA17535859': 1,
 'NA16784472': 2,
 'NA17477042': 1,
 'NA17673234': 5,
 'NA17120826': 1,
 'NA17096228': 2,
 'NA17409380': 3,
 'NA16762727': 2,
 'NA17632179': 2,
 'NA17382146': 2,
 'NA15500351': 1,
 'NA17684509': 3,
 'NA15751990': 4,
 'NA17549273': 2,
 'NA5258351': 1,
 'NA18192483': 2,
 'NA17658457': 1,
 'NA17047468': 1,
 'NA17676922': 1,
 'NA15282313': 5,
 'NA17561797': 1,
 'NA15792914': 1,
 'NA17568189': 2,
 'NA16893294': 1,
 'NA5130048': 1,
 'NA17425924': 1,
 'NA16686479': 2,
 'NA18200987': 2,
 'NA15781202': 1,
 'NA17591431': 2,
 'NA17419913': 1,
 'NA16862470': 5,
 'NA15529466': 1,
 'NA16821836': 1,
 'NA16886781': 1,
 'NA17109092': 1,
 'NA16767363': 1,
 'NA16881004': 3,
 'NA17361189': 1,
 'NA18170099': 1,
 'NA15212698': 1,
 'NA15782415': 3,
 'NA17040199': 1,
 'NA17551510': 1,
 'NA16780835': 1,
 'NA17076715': 2,
 'NA16513574': 1,
 'NA15552862': 3,
 'NA16788693': 1,
 'NA17102842': 1,
 'NA17404221': 2,
 'NA17621101': 1,
 'NA16916446': 1,
 'NA5558812': 2,
 'NA17146716': 3,
 'NA15087752': 1,
 'NA17501776': 2,
 'NA5348589': 1,
 'NA16955513': 3,
 'NA17468674': 1,
 'NA15204211': 1,
 'NA16791139': 2,
 'NA17155159': 5,
 'NA16787808': 1,
 'NA17031833': 1,
 'NA17588230': 1,
 'NA16774882': 1,
 'NA16770100': 1,
 'NA17384146': 1,
 'NA15500064': 1,
 'NA17029455': 2,
 'NA18169475': 1,
 'NA15291645': 3,
 'NA17569845': 1,
 'NA17672644': 2,
 'NA15522162': 1,
 'NA16870531': 1,
 'NA18119129': 1,
 'NA17634086': 1,
 'NA17599268': 1,
 'NA16843627': 2,
 'NA18105016': 2,
 'NA15463268': 1,
 'NA18190355': 1,
 'NA16873054': 1,
 'NA16870691': 1,
 'NA17389921': 1,
 'NA16860909': 1,
 'NA18192446': 1,
 'NA18205601': 1,
 'NA15521098': 1,
 'NA17695542': 1,
 'NA17686491': 1,
 'NA15139728': 1,
 'NA17394283': 1,
 'NA17611168': 1,
 'NA16842839': 2,
 'NA15513810': 2,
 'NA16941031': 1,
 'NA17679255': 1,
 'NA16882723': 1,
 'NA17607858': 2,
 'NA18186696': 1,
 'NA15307794': 1,
 'NA18149360': 1,
 'NA15492875': 1,
 'NA18047961': 1,
 'NA17433341': 1,
 'NA18123102': 1,
 'NA17083679': 2,
 'NA17503207': 1,
 'NA17490658': 2,
 'NA15783476': 2,
 'NA17462276': 1,
 'NA18077415': 1,
 'NA17657535': 1,
 'NA17633388': 1,
 'NA18116384': 1,
 'NA16796163': 1,
 'NA17415791': 1,
 'NA15522673': 3,
 'NA16873286': 1,
 'NA16814301': 1,
 'NA17385033': 1,
 'NA15556808': 2,
 'NA17438961': 1,
 'NA15792758': 1,
 'NA18127806': 1,
 'NA15800974': 1,
 'NA15310223': 1,
 'NA15439757': 1,
 'NA18053261': 1,
 'NA18079156': 2,
 'NA17667167': 1,
 'NA17553040': 2,
 'NA17577836': 1,
 'NA16768182': 2,
 'NA17515859': 1,
 'NA17463801': 2,
 'NA15550195': 2,
 'NA16862389': 2,
 'NA17422929': 1,
 'NA15773241': 4,
 'NA17607914': 1,
 'NA18197253': 1,
 'NA17805156': 3,
 'NA15202159': 1,
 'NA17430116': 1,
 'NA15147633': 1,
 'NA16671761': 1,
 'NA17548689': 2,
 'NA18201754': 1,
 'NA15089371': 2,
 'NA15803497': 1,
 'NA17103436': 1,
 'NA17546567': 1,
 'NA17601734': 1,
 'NA17114748': 1,
 'NA15463297': 1,
 'NA15760999': 1,
 'NA17057432': 1,
 'NA16940547': 1,
 'NA15791298': 2,
 'NA18173400': 1,
 'NA15761408': 1,
 'NA17434909': 1,
 'NA18165014': 1,
 'NA17360688': 1,
 'NA16841088': 1,
 'NA17534287': 1,
 'NA18139675': 1,
 'NA15764502': 1,
 'NA16767810': 1,
 'NA18159149': 1,
 'NA17502440': 2,
 'NA17047673': 2,
 'NA5010091': 2,
 'NA17133168': 1,
 'NA17073254': 1,
 'NA17462660': 1,
 'NA15057329': 1,
 'NA17383870': 1,
 'NA17670327': 1,
 'NA18047052': 1,
 'NA18110057': 2,
 'NA17454255': 2,
 'NA17051861': 1,
 'NA17058195': 4,
 'NA17507237': 1,
 'NA17497080': 1,
 'NA16896674': 1,
 'NA17629851': 1,
 'NA16826670': 1,
 'NA17553827': 1,
 'NA16856964': 2,
 'NA16929511': 1,
 'NA16761378': 1,
 'NA17088452': 3,
 'NA16926227': 1,
 'NA17360420': 1,
 'NA16807566': 1,
 'NA17357721': 1,
 'NA17471186': 1,
 'NA17450250': 1,
 'NA17563447': 1,
 'NA17113130': 1,
 'NA16826981': 1,
 'NA15679145': 1,
 'NA17542637': 1,
 'NA17635783': 1,
 'NA17404313': 1,
 'NA17658412': 2,
 'NA18177475': 1,
 'NA17481674': 1,
 'NA17396876': 1,
 'NA15762372': 2,
 'NA17600895': 1,
 'NA15517149': 1,
 'NA17413552': 1,
 'NA16918026': 2,
 'NA18207117': 1,
 'NA16886830': 2,
 'NA18206390': 1,
 'NA16793547': 2,
 'NA16778278': 3,
 'NA5050093': 1,
 'NA16756662': 1,
 'NA16699655': 1,
 'NA16699577': 1,
 'NA17681153': 1,
 'NA17455928': 1,
 'NA17614767': 1,
 'NA15751026': 2,
 'NA15815948': 1,
 'NA15767953': 4,
 'NA5560629': 2,
 'NA17464015': 1,
 'NA17083024': 1,
 'NA17454026': 1,
 'NA17424573': 1,
 'NA18039677': 5,
 'NA17406269': 1,
 'NA15753178': 1,
 'NA16834459': 1,
 'NA17439695': 1,
 'NA17076523': 1,
 'NA18197366': 2,
 'NA17594155': 1,
 'NA18205500': 1,
 'NA15183608': 3,
 'NA15754279': 1,
 'NA17455998': 2,
 'NA17360184': 1,
 'NA17489620': 1,
 'NA17016501': 1,
 'NA16894316': 2,
 'NA17558617': 1,
 'NA15211452': 1,
 'NA17143364': 1,
 'NA17651483': 1,
 'NA15781306': 1,
 'NA5125118': 1,
 'NA16511989': 1,
 'NA15546309': 1,
 'NA17457452': 2,
 'NA17585751': 1,
 'NA17061332': 1,
 'NA17640004': 1,
 'NA17441566': 1,
 'NA15057976': 1,
 'NA18164007': 1,
 'NA16839973': 1,
 'NA17612458': 1,
 'NA16762966': 1,
 'NA17662443': 1,
 'NA16875219': 1,
 'NA15763835': 1,
 'NA17522588': 1,
 'NA17466573': 1,
 'NA18065616': 1,
 'NA17060783': 2,
 'NA17577968': 1,
 'NA17587525': 1,
 'NA18215267': 1,
 'NA18142814': 1,
 'NA17464788': 1,
 'NA15289929': 2,
 'NA17106952': 1,
 'NA17072266': 1,
 'NA17549630': 1,
 'NA17496959': 1,
 'NA16836992': 3,
 'NA18134597': 1,
 'NA17578448': 1,
 'NA15500722': 2,
 'NA17616532': 2,
 'NA17142457': 1,
 'NA15797420': 1,
 'NA5328791': 1,
 'NA17126102': 2,
 'NA17128795': 2,
 'NA15441058': 1,
 'NA16749404': 1,
 'NA18040298': 1,
 'NA16784595': 1,
 'NA17361009': 1,
 'NA17136718': 1,
 'NA17577570': 2,
 'NA17647963': 1,
 'NA15807227': 1,
 'NA16865015': 1,
 'NA17042787': 2,
 'NA18144995': 2,
 'NA17085246': 1,
 'NA17342732': 1,
 'NA15783639': 1,
 'NA17607629': 1,
 'NA17354148': 1,
 'NA17566599': 2,
 'NA15531598': 1,
 'NA16952634': 1,
 'NA17062251': 1,
 'NA17051496': 1,
 'NA15622150': 1,
 'NA15784588': 1,
 'NA15559635': 3,
 'NA17037400': 1,
 'NA16813022': 2,
 'NA17527463': 2,
 'NA15809823': 2,
 'NA17590825': 2,
 'NA15274174': 1,
 'NA17155186': 1,
 'NA16776095': 2,
 'NA16751484': 1,
 'NA5415525': 2,
 'NA17535802': 2,
 'NA17445295': 2,
 'NA15800418': 1,
 'NA15786337': 4,
 'NA15439629': 3,
 'NA15792973': 2,
 'NA15752917': 1,
 'NA16893475': 1,
 'NA17631313': 2,
 'NA16806033': 1,
 'NA17089196': 1,
 'NA17146474': 1,
 'NA15807890': 2,
 'NA15751337': 2,
 'NA17530296': 1,
 'NA17447787': 1,
 'NA15297323': 1,
 'NA17406349': 2,
 'NA18126636': 1,
 'NA18131975': 1,
 'NA17561968': 1,
 'NA15091752': 2,
 'NA16795924': 1,
 'NA17107446': 1,
 'NA15701441': 1,
 'NA17437181': 1,
 'NA17682817': 2,
 'NA15758727': 1,
 'NA16907059': 2,
 'NA15765214': 1,
 'NA17499489': 3,
 'NA16921300': 2,
 'NA17051708': 2,
 'NA17457502': 1,
 'NA15460339': 6,
 'NA18185686': 1,
 'NA16864100': 1,
 'NA16757534': 1,
 'NA15158605': 1,
 'NA18148800': 1,
 'NA16814068': 1,
 'NA17051929': 2,
 'NA5366072': 3,
 'NA16842069': 1,
 'NA17486655': 1,
 'NA17443877': 1,
 'NA17655982': 1,
 'NA17616949': 1,
 'NA5337888': 2,
 'NA15801062': 1,
 'NA17477629': 1,
 'NA15487071': 1,
 'NA17533204': 1,
 'NA17621850': 2,
 'NA17057957': 1,
 'NA17086807': 1,
 'NA18073958': 1,
 'NA15796590': 1,
 'NA15781869': 2,
 'NA17507190': 4,
 'NA17342789': 1,
 'NA17574243': 1,
 'NA16827723': 1,
 'NA16875292': 2,
 'NA16747998': 2,
 'NA15501089': 2,
 'NA17584154': 1,
 'NA17521362': 1,
 'NA18202366': 1,
 'NA15297243': 1,
 'NA15038534': 1,
 'NA17382610': 1,
 'NA17510075': 2,
 'NA18049975': 2,
 'NA17692943': 1,
 'NA15527050': 1,
 'NA17480153': 1,
 'NA16919825': 1,
 'NA18202139': 1,
 'NA16839026': 1,
 'NA17474478': 1,
 'NA17419931': 2,
 'NA17590813': 1,
 'NA17642690': 1,
 'NA15560474': 1,
 'NA15754215': 2,
 'NA17561737': 2,
 'NA15754123': 1,
 'NA17679386': 1,
 'NA18049250': 1,
 'NA17625372': 1,
 'NA16875184': 2,
 'NA17113239': 1,
 'NA17152347': 1,
 'NA17396529': 2,
 'NA17602595': 1,
 'NA17047499': 1,
 'NA15758087': 1,
 'NA17482402': 1,
 'NA15531160': 1,
 'NA18156319': 1,
 'NA16925034': 5,
 'NA17056408': 1,
 'NA17681673': 1,
 'NA17662366': 2,
 'NA17072241': 1,
 'NA16898028': 1,
 'NA17379618': 1,
 'NA17520179': 2,
 'NA16888940': 4,
 'NA17504968': 1,
 'NA16773306': 1,
 'NA16812349': 1,
 'NA16888891': 2,
 'NA15243648': 2,
 'NA18094790': 2,
 'NA18101418': 1,
 'NA15760971': 3,
 'NA16762759': 2,
 ...}

In [209]:
purchase['NA17454294']

1

In [224]:
one_timers = []
two_timers = []
three_timers = []
for i in list(data['ClientCode'].unique()):
    if purchase[i] == 1:
        one_timers.append(i)
    elif purchase[i] == 2:
        two_timers.append(i)
    else:
        three_timers.append(i)

In [225]:
len(two_timers)

11442

In [215]:
data = data[data['ClientCode'].isin(two_timers)]

In [216]:
data.shape

(44244, 54)

In [217]:
client_watch = (list((data['ClientCode'][data['ProductReference'].isin(w)]).unique()))

In [218]:
client_jewelry = (list((data['ClientCode'][data['ProductReference'].isin(j)]).unique()))

In [219]:
client_accessories = (list((data['ClientCode'][data['ProductReference'].isin(ac)]).unique()))

In [221]:
len(client_accessories), len(client_jewelry), len(client_watch)

(5429, 12228, 3141)

In [235]:
(two_timers)[0]

'NA15000285'

In [237]:
list(data['ProductReference'][data['ClientCode'] == 'NA15000285'])

['CRT1220407', 'CRT1220540']

In [238]:
purchase = {}
for i in two_timers:
    purchase[i] = list(data['ProductReference'][data['ClientCode'] == i])

In [279]:
# Count the intra and inter classes transactions
intra = 0
ww = 0
jj = 0
aa = 0
w_j = 0
j_w = 0
w_a = 0
a_w = 0
j_a = 0
a_j = 0
client_j = []
for i in two_timers:
    first = purchase[i][0]
    second = purchase[i][1]
    if ((first in w) & (second in w)):
        intra += 1
        ww += 1
    elif ((first in j) & (second in j)):
        intra += 1
        jj += 1
        client_j.append(i)
    elif ((first in ac) & (second in ac)):
        intra += 1
        aa +=1
    elif ((first in w) & (second in j)):
        w_j += 1
    elif ((first in j) & (second in w)):
        j_w += 1
    elif ((first in w) & (second in a)):
        w_a += 1
    elif ((first in a) & (second in w)):
        a_w += 1
    elif ((first in j) & (second in a)):
        j_a += 1
    elif ((first in a) & (second in j)):
        a_j += 1

In [276]:
print("Among the " + str(len(two_timers)) + " transactions, there are " + str(intra) + 
      " products from intra transactions, among which " + str(ww) + " are watches, " + str(jj) + 
      " are jewelries, and "
      + str(aa) + " are acessories. Then, "+ str(w_j) + 
      " watch to jewelry, " + str(j_w) + " jewelry to watch, " + 
      str(w_a) + " watch to accessories, "+ str(a_w) + " accessories to watch, " + str(j_a) + 
      " jewelry to accessories, " + str(a_j) + " accessories to jewelry")

Among the 11442 transactions, there are 9667 products from intra transactions, among which 710 are watches, 7060 are jewelries, and 1897 are acessories. Then, 392 watch to jewelry, 345 jewelry to watch, 168 watch to accessories, 174 accessories to watch, 337 jewelry to accessories, 359 accessories to jewelry

In [284]:
purchase_j = {}
for i in client_j:
    purchase_j[i] = purchase[i]

In [282]:
len(client_j)

7060

In [286]:
data.shape

(44244, 54)

In [287]:
jewelry.columns

Index(['hier 2', 'hier 3', 'hier 4', 'hier 5', 'hier 6', 'hier 7',
       'article ID', 'article label', 'collection ID', 'collection label',
       'alloy type', 'launch date', 'NB of stones', 'center stone',
       'carats stone', 'material group', 'life cycle label', 'amount',
       'quantity', 'number of clients'],
      dtype='object')

In [288]:
data_j = data[data['ClientCode'].isin(client_j)]

In [289]:
data_j.shape

(14120, 54)

In [298]:
data_j['alloy type'].value_counts()

White gold 751 /125    6304
Yellow gold 751        2788
Platinum 953           2474
Red gold 751           2000
Not assigned            202
White gold 751 /130     167
Red Gold 5N18            87
White gold 130           55
White gold 125           18
Platinum 950             13
Yellow Gold 3N18         12
Name: alloy type, dtype: int64

In [299]:
data_j['Type'] = 0

C:\Users\utilisateur\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [303]:
#data_j[data_j['alloy type'] == 'Platinum 953']

In [356]:
# Compute the number of jewelriy from same or different type

same = 0
different = 0
for i in client_j:
    first = purchase_j[i][0]
    second = purchase_j[i][1]
    typ1 = list(data_j['alloy type'][(data_j['ClientCode'] == i) & (data_j['ProductReference'] == first)])[0]
    typ2 = list(data_j['alloy type'][(data_j['ClientCode'] == i) & (data_j['ProductReference'] == second)])[0]
    if (typ1 == typ2):
        same += 1
    else:
        different += 1

In [358]:
same/(different+same)

0.7509915014164306

In [355]:
data_j['alloy type'].value_counts()

White           6544
Yellow          2800
Platinum        2487
Red             2087
Not assigned     202
Name: alloy type, dtype: int64

In [354]:
data_j['alloy type'][data_j['alloy type'] == 'Red Gold 5N18'] = "Red"

C:\Users\utilisateur\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\utilisateur\Anaconda3\lib\site-packages\pandas\core\generic.py:4059: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\utilisateur\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3066: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [359]:
def intersect(a, b):
    return list(set(a) & set(b))
    
def combinliste2(seq):
    p = []
    for i in range(len(seq)):
        for j in range(i+1,len(seq)):
            s = []
            s.append(seq[i])
            s.append(seq[j])
            p.append(s)
    return p

In [360]:
random.shuffle(client_j)
client_j_train = client_j[0:int(len(client_j)*0.7)]
client_j_test = client_j[int(len(client_j)*0.7):]

In [367]:
type_l = (list(data_j['alloy type'].unique()))
len(type_l)

5

In [368]:
mat = pd.DataFrame(np.zeros((len(type_l),len(type_l)), dtype=float),
                                index = type_l ,columns=type_l, dtype = float)

In [369]:
mat

              White  Platinum  Yellow  Red  Not assigned
White             0         0       0    0             0
Platinum          0         0       0    0             0
Yellow            0         0       0    0             0
Red               0         0       0    0             0
Not assigned      0         0       0    0             0

In [379]:
type_j = {}
for i in client_j:
    type_j[i] = list(data_j['alloy type'][data_j['ClientCode'] == i])

In [394]:
def test_type():
            #on intègre la fonction de test dans la fonction crossval car sinon il ne reconnaît pas two_timer_test_l ... 
                achats = list()
                recos = list()
                nb_bonne_reco = 0
                taux_bonne_reco = 0
                for client in client_j:
                    typ = type_j[client]
                    reco = type_j[client][0] 
                    if type_j[client][1] == reco:
                        nb_bonne_reco += 1          
                taux_bonne_reco = nb_bonne_reco/len(client_j) 
                print ("Le taux de bonnes recommandations est de " + str(100*taux_bonne_reco) + '%')

In [405]:
White = list(data_j['ProductReference'][data_j['alloy type'] == 'White'].unique())
Yellow = list(data_j['ProductReference'][data_j['alloy type'] == 'Yellow'].unique())
Platinum = list(data_j['ProductReference'][data_j['alloy type'] == 'Platinum'].unique())
Red = list(data_j['ProductReference'][data_j['alloy type'] == 'Red'].unique())
Other = list(data_j['ProductReference'][data_j['alloy type'] == 'Not assigned'].unique())

In [468]:
mat_white = pd.DataFrame(np.zeros((len(White),len(White)), dtype=float),
                                index = White ,columns=White, dtype = float)
mat_yellow = pd.DataFrame(np.zeros((len(Yellow),len(Yellow)), dtype=float),
                                index = Yellow ,columns=Yellow, dtype = float)
mat_platinum = pd.DataFrame(np.zeros((len(Platinum),len(Platinum)), dtype=float),
                                index = Platinum ,columns=Platinum, dtype = float)
mat_red = pd.DataFrame(np.zeros((len(Red),len(Red)), dtype=float),
                                index = Red ,columns=Red, dtype = float)
mat_other = pd.DataFrame(np.zeros((len(Other),len(Other)), dtype=float),
                                index = Other ,columns=Other, dtype = float)
random.shuffle(client_j)
client_j_train = client_j[0:int(len(client_j)*0.9)]
client_j_test = client_j[int(len(client_j)*0.9):]

In [469]:
for c in client_j_train:
    p = purchase_j[c]
    if ((p[0] in White) & (p[1] in White)):
        mat_white.ix[p[0]][p[1]] += 1
        mat_white.ix[p[1]][p[0]] += 1
    elif ((p[0] in Yellow) & (p[1] in Yellow)):
        mat_yellow.ix[p[0]][p[1]] += 1
        mat_yellow.ix[p[1]][p[0]] += 1
    elif ((p[0] in Platinum) & (p[1] in Platinum)):
        mat_platinum.ix[p[0]][p[1]] += 1
        mat_platinum.ix[p[1]][p[0]] += 1
    elif ((p[0] in Red) & (p[1] in Red)):
        mat_red.ix[p[0]][p[1]] += 1
        mat_red.ix[p[1]][p[0]] += 1
    elif ((p[0] in Other) & (p[1] in Other)):
        mat_other.ix[p[0]][p[1]] += 1
        mat_other.ix[p[1]][p[0]] += 1

In [470]:
def hybrid_reco(product, nb_reco = 5):
    if (product in White):
        most_similar_items = mat_white[product].sort_values(ascending = False)
    elif (product in Yellow):
        most_similar_items = mat_yellow[product].sort_values(ascending = False)
    elif (product in Platinum):
        most_similar_items = mat_platinum[product].sort_values(ascending = False)
    elif (product in Red):
        most_similar_items = mat_red[product].sort_values(ascending = False)
    elif (product in Other):
        most_similar_items = mat_other[product].sort_values(ascending = False)
    return list(most_similar_items.index[0:nb_reco])

In [471]:
list(data_j['alloy type'][data_j['ProductReference'] == 'CRB4075155'])[0]

'White'

In [472]:
hybrid_reco('CRB4075155')

['CRB6038618', 'CRB8031900', 'CRB4086057', 'CRN5022700', 'CRB4038951']

In [545]:
def test_hybrid(nombre_reco):
    
    White = list(data_j['ProductReference'][data_j['alloy type'] == 'White'].unique())
    Yellow = list(data_j['ProductReference'][data_j['alloy type'] == 'Yellow'].unique())
    Platinum = list(data_j['ProductReference'][data_j['alloy type'] == 'Platinum'].unique())
    Red = list(data_j['ProductReference'][data_j['alloy type'] == 'Red'].unique())
    Other = list(data_j['ProductReference'][data_j['alloy type'] == 'Not assigned'].unique())

    mat_white = pd.DataFrame(np.zeros((len(White),len(White)), dtype=float),
                                    index = White ,columns=White, dtype = float)
    mat_yellow = pd.DataFrame(np.zeros((len(Yellow),len(Yellow)), dtype=float),
                                    index = Yellow ,columns=Yellow, dtype = float)
    mat_platinum = pd.DataFrame(np.zeros((len(Platinum),len(Platinum)), dtype=float),
                                    index = Platinum ,columns=Platinum, dtype = float)
    mat_red = pd.DataFrame(np.zeros((len(Red),len(Red)), dtype=float),
                                    index = Red ,columns=Red, dtype = float)
    mat_other = pd.DataFrame(np.zeros((len(Other),len(Other)), dtype=float),
                                    index = Other ,columns=Other, dtype = float)
    random.shuffle(client_j)
    client_j_train = client_j[0:int(len(client_j)*0.7)]
    client_j_test = client_j[int(len(client_j)*0.7):]

    for c in client_j_train:
        p = purchase_j[c]
        if ((p[0] in White) & (p[1] in White)):
            mat_white.ix[p[0]][p[1]] += 1
            mat_white.ix[p[1]][p[0]] += 1
        elif ((p[0] in Yellow) & (p[1] in Yellow)):
            mat_yellow.ix[p[0]][p[1]] += 1
            mat_yellow.ix[p[1]][p[0]] += 1
        elif ((p[0] in Platinum) & (p[1] in Platinum)):
            mat_platinum.ix[p[0]][p[1]] += 1
            mat_platinum.ix[p[1]][p[0]] += 1
        elif ((p[0] in Red) & (p[1] in Red)):
            mat_red.ix[p[0]][p[1]] += 1
            mat_red.ix[p[1]][p[0]] += 1
        elif ((p[0] in Other) & (p[1] in Other)):
            mat_other.ix[p[0]][p[1]] += 1
            mat_other.ix[p[1]][p[0]] += 1

    def hybrid_reco(product, nb_reco = 5):
        if (product in White):
            most_similar_items = mat_white[product].sort_values(ascending = False)
        elif (product in Yellow):
            most_similar_items = mat_yellow[product].sort_values(ascending = False)
        elif (product in Platinum):
            most_similar_items = mat_platinum[product].sort_values(ascending = False)
        elif (product in Red):
            most_similar_items = mat_red[product].sort_values(ascending = False)
        elif (product in Other):
            most_similar_items = mat_other[product].sort_values(ascending = False)
        return list(most_similar_items.index[0:nb_reco])

    def test_item_to_item(algo, nb_reco):
    #on intègre la fonction de test dans la fonction crossval car sinon il ne reconnaît pas two_timer_test_l ... 
        achats = list()
        recos = list()
        nb_bonne_reco = 0
        taux_bonne_reco = 0
        for client in client_j_test:
            achats = purchase_j[client]
            recos = algo(achats[0],nb_reco)
            bonne_reco = 0 
            for reco in recos:
                if reco in achats[1:]: bonne_reco += 1
            if bonne_reco >= 1: nb_bonne_reco += 1           
        taux_bonne_reco = nb_bonne_reco/len(client_j_test) 
        return taux_bonne_reco

    return test_item_to_item(hybrid_reco, nombre_reco)

In [546]:
test_hybrid(10)

0.14589235127478753

In [544]:
def test_classic(nombre_reco):

    a = list(data_j['ProductReference'].unique())
    mat = pd.DataFrame(np.zeros((len(a),len(a)), dtype=float),
                                    index = a ,columns=a, dtype = float)

    random.shuffle(client_j)
    client_j_train = client_j[0:int(len(client_j)*0.7)]
    client_j_test = client_j[int(len(client_j)*0.7):]

    for c in client_j_train:
        p = purchase_j[c]
        mat.ix[p[0]][p[1]] += 1
        mat.ix[p[1]][p[0]] += 1

    def reco_i(product, nb_reco = 5):
        most_similar_items = mat[product].sort_values(ascending = False)
        return list(most_similar_items.index[0:nb_reco])

    def test_i(nb_reco):
    #on intègre la fonction de test dans la fonction crossval car sinon il ne reconnaît pas two_timer_test_l ... 
        achats = list()
        recos = list()
        nb_bonne_reco = 0
        taux_bonne_reco = 0
        for client in client_j_test:
            achats = purchase_j[client]
            recos = reco_i(achats[0],nb_reco)
            bonne_reco = 0 
            for reco in recos:
                if reco in achats[1:]: bonne_reco += 1
            if bonne_reco >= 1: nb_bonne_reco += 1           
        taux_bonne_reco = nb_bonne_reco/len(client_j_test) 
        return taux_bonne_reco
    return test_i(nombre_reco)

In [547]:
test_classic(5)

0.09442870632672333

In [548]:
for i in range(1,10):
    print(test_hybrid(i) - test_classic(i))

0.0009442870632672337
0.007082152974504249
0.0033050047214353145
0.010859301227573184
-0.00755429650613787
0.00755429650613787
0.007082152974504249
-0.0023607176581680878
-0.005665722379603402

In [550]:
print(test_hybrid(30) - test_classic(30))

0.0174693106704438